#rightBar{
  	width: 200px;
  	height: 1000px;
	background-color: #CCF5FF;
	top: 150px;
	right: 30px;
	position: absolute;
	text-align: center;
}

#itemNoticia{
	list-style-type: none;
	cursor: pointer;
}

#itemNoticia:hover{
	color: #FFCC99;
}