#updateUser{
	width: 400px;
	position: absolute;
	top: 200px;
	left: 400px;
	background-color: #CCF5FF;
	color: #00CCCC;
	padding: 40px;
	border: solid;
	border-radius: 10px;
	text-align: right;
}

#upAvatar{
	width: 70px;
  	height: 70px;
}

#updateUser #aceptar{
	margin-right: 150px;
	margin-top: 20px;
}

#updateClose{
	text-align: right;
	cursor: pointer;
}

#updateTable tr td{
	background-color: #CCF5FF;
}

#updateTable tr td:hover{
	color: #00CCCC;
}

#agregar{
	cursor: pointer;
}

#upDv{
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    width: 10px;
    pointer-events: none;
    cursor: default;
}