ul{
	padding: 0px;
	list-style-type: none;
}

#updateUser{
	width: 350px;
	position: absolute;
	top: 10px;
	left: 400px;
	background-color: #CCF5FF;
	color: #00CCCC;
	padding: 20px;
	border: solid;
	border-radius: 10px;
	text-align: right;
}

#upAvatar{
	width: 70px;
  	height: 70px;
}

#updateUser #aceptar{
	margin-right: 150px;
	margin-top: 20px;
}

#updateClose{
	text-align: right;
	cursor: pointer;
}

#updateTable{
	text-align: left;
}

#updateTable tr td{
	background-color: #CCF5FF;
}

#updateTable tr td:hover{
	color: #00CCCC;
}

#agregar{
	cursor: pointer;
}

#upDv{
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    width: 10px;
    pointer-events: none;
    cursor: default;
}

#upFoto{
	display: block !important;
    width: 90px !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
#contFoto{
	width: 50px;
    height: 50px;
    overflow: hidden;
    background-image: url('../imgs/subir.png');
    background-position: center;
}