#contenido{
	width: 740px;
	margin: 10px;
	background-color: #CCF5FF;
	padding: 30px;
	color: #00CCCC;
	margin-left: 250px;
	margin-right: 250px;
}

.noticias{
	background-color: #004C4C;
	color: #fff;
	margin: 10px;
	text-align: center;
	padding: 15px;
	border-radius: 10px;

}

.noticias img{
	width: 400px;
	height: 200px;
	border-radius: 10px;
}

.titular{
	font-size: 25px;
}

.noticia{
	text-align: left;
}