footer{
	clear: both;
    position: relative;
	background-color: #008C8C;
	height: 400px;
	color: #fff;
}

footer article{
	padding: 50px;
}

#logos{
	float: right;
	list-style-type: none;
	display: inline;
	margin: 5px;
}

#logos img{
	width: 50px;
	height: 50px;
}